.layout {
    width: 80vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
    margin: auto;
}

.layout > .cardBody:nth-child(1) {
    grid-column: span 5;
}

.layout > .cardBody:nth-child(2) {
    grid-column: span 2;
}

.layout > .cardBody:nth-child(3) {
    grid-column: span 5;
}

.layout > .cardBody:nth-child(4) {
    grid-column: span 2;
}

.layout > .cardBody:nth-child(5) {
    grid-column: span 2;
}

.layout > .cardBody:nth-child(6) {
    grid-column: span 4;
}

.layout > .cardBody:nth-child(7) {
    grid-column: span 4;
}

.cardBody {
    position: relative; 
    border-radius: 20px;
    height: 20vh;
}

.cardBody:hover {
    scale: 1.01;
    transition: .3s;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.cardImg:hover {
    opacity: 0.5;
}

.cardTitle {
    position: absolute;
    bottom: 10px; 
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}