.countriesFilter {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    margin: 5% 10%;
}

.countriesFilter > :nth-child(1) {
    grid-column: span 3;
}
.countriesFilter > :nth-child(2) {
    grid-column: span 7;
}
.countriesFilter > :nth-child(3) {
    grid-column: span 2;
}

.mainFilter {
    display: flex;
    flex-direction: column;
}

.mainFilterTitle {
    font-size: 40px;
}

.article{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 10px;
}

.article > :nth-child(1) {
    grid-column: span 1;
} 

.article > :nth-child(2) {
    grid-column: span 5;
}

.imgContainer {
    width: 20rem;
    height: 14rem;
    overflow: hidden;
    border-radius: .5rem; 
    box-shadow: 0px 2px 5px 0px rgba(128,119,128,1);
    margin-right: 1.5rem;
}


.imgContainer:hover {
    scale: 1.1; 
    transition: .5s ease-in-out; 
    cursor: pointer;
}

.articleImg {
    width: 100%;
    height: 100%;
    border-radius: .5rem; 
    object-fit: fill;
} 

.articleTitle {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 20px;
}

.articleParagraph {
    font-size: 1.2rem;
    font-weight: 500;
}

.language {
    font-size: 1.2rem;
    font-weight: 400;
}

.dot {
    font-size: 40px;
    font-weight: 900;
    color: #1DC0E6;
}

.filter {
    position: relative;
    background-color: #1DC0E6;
    width: 90%;
    height: 15%;
    padding: 20px;
    border-radius: 25px;
}

.filterTitle {
    color: #FFFFFFFF;
}

.filterButton {
   position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 1px solid #2596BE;
    color: #2596BE;
    background-color: #FFFFFFFF;
    width: 10px;
    height: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.filterButton:hover {
    scale: 1.3;
    transition: .5s ease-in-out;
    border: 1px solid #2596BE;
    color: #2596BE;
    background-color: #FFFFFFFF;
}

.info {
    width: 15vw;
}

.join {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 1.25rem;
    height: auto;
    padding: 1.25rem;
}

.joinTitle{
    font-size: 1.2rem;
    color: #FFFFFFFF;
    margin: 1.25rem 0;
}

.joinParagraph {
    font-weight: 500;
    font-size: 0.98rem;
    color: #FFFFFFFF;
}

.bolder {
    font-weight: 800;
    font-size: 1rem;
}

.joinButton {
    text-decoration: none;
    background-color: #72BB53;
    border-radius: 50px;
    padding: 5px 2px;
    font-weight: 600;
}

.joinButton:hover {
    background-color: #2596BE;
    transition: .3s ease-in-out;
}

.joinButton > a {
    text-decoration: none;
    color: #FFFFFFFF;
}

.finalJoin {
    text-align: center;
    color: #FFFFFFFF;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 500;
}

.finalJoin:hover {
    cursor: pointer;
    text-decoration: underline;
}

.why {
    background-color: #1DC0E6;
    margin: 5% 0;
    border-radius: 1.25rem;
    padding: 1.25rem;
}

.whyTitle {
    font-size: 20px;
    color: #FFFFFFFF;
}

.whyParagraph {
    color: #FFFFFFFF;
}

.whyOptions {
    color: #FFFFFFFF;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin: 20px 0;
}


.whyFinal {
    color: #FFFFFFFF;
    font-weight: 600;
    font-size: .98rem;
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .filter {
        width: 100%;
        height: 10%;
    }

    .filterTitle {
        font-size: 1.4rem;
    }

    .mainFilterTitle {
        font-size: 2rem;
    }

    .imgContainer {
        width: 14rem;
        height: 10rem;
    }
    .join {
        height: auto;
        padding: .9rem;
    }

    .joinTitle {
        font-size: .95rem;
        color: #FFFFFFFF;
        margin: 0.5rem 0;
    }

    .joinParagraph {
        font-size: 0.9rem;
    }

    .joinButton {
        font-size: .8rem;
        width: 12vw;
        margin: 5px auto;
    }

    .finalJoin {
        margin: 5px 0;
    }

    .why {
        padding: .9rem;
    }

    .whyTitle {
        font-size: .99rem;
    }

    .whyOptionsItem {
        font-size: .85rem;
    }

    .whyFinal {
        font-size: .89rem;
    }

}

@media (min-width: 1280px) and (max-width: 1440px) {
    .filterTitle{
        font-size: 1.2rem;
    }

    .filter {
        position: relative;
        background-color: #1DC0E6;
        width: 16vw;
        height: 20vh;
        padding: 20px;
        border-radius: 25px;
    }

    .mainFilterTitle {
        font-size: 1.8rem;
    }

    .imgContainer {
        width: 13rem;
        height: 9rem;
    }

    .join {
        border-radius: 1rem;
        height: auto;
        width: 15vw;
    }

    .joinTitle {
        font-size: .79rem;
        margin: 1rem 0;
    }

    .joinParagraph {
        font-weight: 500;
        font-size: 0.7rem;
        margin-bottom: 5px;
        color: #FFFFFFFF;
    }

    .bolder{
        font-size: .68rem;
    }

    .joinButton > a {
        font-size: .7rem;
    }    

    .joinButton {
        font-size: .9rem;
        width: auto;
        margin: .5rem auto;
        padding: .2rem;
    }

    .why {
        width: 15vw;
    }

    .whyTitle {
        font-size: .8rem;
        margin: .1rem;
    }

    .whyOptions {
        margin: .2rem 0;
    }

    .whyOptionsItem {
        font-size: .7rem;
    }

    .whyFinal {
        color: #FFFFFFFF;
        font-weight: 600;
        font-size: .65rem;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) {
    .filter {
        width: 16vw;
        height: 16vh;
        padding: 1rem .7rem;
        border-radius: 25px;
    }

    .filterTitle {
        font-size: 1.2rem;
    }

    .filterButton {
         top: 50%;
         right: 1rem;
     }

     .mainFilterTitle {
        font-size: 1.2rem;
    }

    .imgContainer {
        width: 10rem;
        height: 8rem;
    }

    .articleTitle {
        margin: .4rem 0;
    }

    .articleParagraph {
        font-size: 11px;
    }

    .language {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .dot {
        font-size: 1.5rem;
    }
     
    .join {
        height: auto;
        padding: .5rem;
    }

    .joinTitle {
        font-size: .65rem;
        margin: .5rem 0;
    }

    .joinParagraph {
        font-weight: 500;
        font-size: 0.5rem;
    }

    .bolder {
        font-weight: 800;
        font-size: .7rem;
    }

    .joinButton > a {
        font-size: .5rem;
    }
    
    .joinButton{
        width: 8rem;
        padding: 1px;
        margin: auto;
    }

    .finalJoin {
        margin: 5px 0;
        font-size: .7rem;
    }

    .why {
        padding:.9rem .5rem;
    }

    .whyTitle {
        font-size: .7rem;
    }

    .whyOptionsItem {
        font-size: .5rem;
    }

    .whyFinal {
        font-size: .6rem;
    }

}

