nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 10%;
  box-shadow: 0px 2px 5px 0px rgba(128,119,128,1);
  margin-bottom: 5px;
}
  
ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: auto;
  justify-content: space-between;
}
  
.linkNav {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px;
}
  
.linkNav:hover {
  text-decoration: underline;
}
  
.btn {
  border-radius: 50px;
  font-weight: bold;
  margin: 0 5px;
  width: 150px;
}

.logo {
  width: 250px;
  height: 100px;
  object-fit: contain;
  border-radius: 50px;
}

.logo:hover {
  scale: 1.1;
  transition: .5s;
}

.login {
  background-color: #2596BE;
  color: white;
}

.login:hover {
  background-color:#355967;
  color: white;
  text-decoration: none;
}

.signUp {
  color: #2596BE;
  background-color: white;
  text-decoration: none;
}

.signUp:hover {
  text-decoration: underline;
}

@media (min-width: 1280px) and (max-width: 1440px) {

  nav {
    padding: 2px 11%;
  }

  .logo {
    width: 12.5rem;
    height: 4.375rem;
  }
  
  ul {
    gap: 5px;
  }


  .linkNav {
    font-size: 0.95rem;
  }

  .login {
    font-size: 0.99rem;
  }
  
  .signUp {
    font-size: 0.99rem;
  }
}


@media (min-width: 1024px) and (max-width: 1280px) {

  .logo {
    width: 10rem;
    height: 3rem;
  }

  .linkNav {
    font-size: 0.72rem;
  }

  .login {
    font-size: 0.6rem;
  }
  
  .signUp {
    font-size: 0.6rem;
  }

  .btn {
    border-radius: 50px;
    margin: 0 5px;
    width: 100px;
  }

}