.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12vh 0;
  background: #3fe18213;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  height: 70%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.98;
}


.homeTitle {
  font-size: 6rem;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.homeParagraph {
  font-size: 2.2rem;
  color: white;
  font-weight: 400;
  margin-bottom: 50px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.search {
  width: 50%;
  position: relative;
}

.homeInput {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-radius: 25px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
}

.homeInput:focus { 
  border: none;
}

.search i{
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.buttons {
  width: 60%;
  display: flex;
  justify-content: center;
}

.btnHome {
  border: 1px solid #17c6ee;
  background-color: rgba(23, 198, 238, 50%);
  color: white;
  width: 150px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.btnHome:hover {
  background-color: #17C5EC;
  color: white;
  scale: 1.1;
  transition: .2s ease-in-out;
}

.subtitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 50px 0;
}

.paragraph { 
  color: black;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 10% 30px 10%;
}

.whySection{
  margin-top: 150px;
  background-color: #F6F6F6;
}

.access {
  margin: 50px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  display: flex;
}

.accessIcon {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.description p{
  color: black;
  font-size: 25px;
  width: 30vw;
}

.description h5{
  color: black;
  font-size: 30px;
  color: #0B3C4D;
}

.enjoy {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

@media (min-width: 1440px) and (max-width: 1919px) {
  video {
    height: 100%;
  }
  
  .header {
    padding: 7vh 0;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {

  video {
    position: absolute;
    height: 70%;
    width: 100%;
    object-fit: cover;
  }

  .header {
    padding: 10vh 0;
  }

  .homeTitle {
    font-size: 4rem;
  }

  .homeParagraph {
    font-size: 1.45rem;
  }

  .buttons {
    display: flex;
    margin-left: 18%;
  }

  .buttons li{
    width: 145px;
  }

  .subtitle {
    padding: 20px 0;
  }

  .paragraph {
    font-size: 1rem;
  }

  .layout {
    width: 76vw;
  }

  .description p {
    font-size: 1.01rem;
  }

}

@media (min-width: 1024px) and (max-width: 1280px) {
  video {
    height: 90%;
  }

  .header {
    height: 80vh;
  }
  
  .homeTitle {
    font-size: 4rem;
  }

  .homeParagraph {
    font-size: 1.5rem;
  }

  .search {
    width: 65%;
  }

  .buttons {
    margin-left: 20%;
  }

  .buttons li{
    width: 200px;
  }

  .btnHome{
    font-size: .7rem;
  }

  .subtitle {
    font-size: 1.5rem;
    padding: 10px 0;
  }

  .paragraph {
    font-size: .9rem;
  }

  .accessIcon {
    width: 5rem;
    height: 5rem;
    margin: 5px;
  }

  .description p {
    font-size: 0.8125rem;
  }

  .description h5 {
    color: black;
    font-size: .99rem;
    color: #0B3C4D;
}

}
